<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Nati durante un progetto estivo, un po' per caso, siamo pronti a conquistare la nostra fetta di mercato.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Settembre 2020</h4>
                                    <h4 class="subheading">CLab - Summer School di Cortina</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Open Label​ nasce durante una Summer School organizzata all’interno del Contamination Lab il 7 Settembre 2020, per intuizione di un team multidisciplinare composto da 5 ragazzi, tutti provenienti da diverse facoltà e percorsi professionali, mai incontratisi prima.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Novembre 2020</h4>
                                    <h4 class="subheading">Treviso Creative Week</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">OpenLabel è un progetto in sviluppo, tra i 10 finalisti della Treviso Creative Week. Il team è pronto ad affrontare il parere dei giudici!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Pronti
                                    <br>al
                                    <br>futuro!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>