<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Servizi</h2>
                    <h3 class="section-subheading text-muted">L'Etichetta Smart AntiSpreco.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-tags fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Etichetta digitale</h4>
                    <p class="text-muted">OpenLabel propone l'utilizzo di Electronic Shelf Labels (ESL), degli schermi digitali, che permettono di aggiornare il prezzo dei prodotti dinamicamente.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cloud fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Software gestionale</h4>
                    <p class="text-muted">Il nostro software cloud permette l'analisi e l'aggiornamento dei prezzi.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-recycle fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Riduzione degli sprechi</h4>
                    <p class="text-muted">Tramite il nostro algoritmo i prezzi variano dinamicamente e gli sprechi si annullano.</p>
                </div>
            </div>
        </div>
    </section>